:root {
	--primary-color: #000;
	--secondary-color: #808080;
	--dark-color: #333;
	--light-color: #fff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.theme {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.show {display: block;}
.hide {display: none;}

:focus {
  outline: none;
  outline-offset: 0;
}

.form-inline {  
  display: flex;
	flex-direction: row;
  flex-flow: row wrap;
  align-items: center;
}

.mpControl {
  padding: 5px;
}

.mpControl-label {
  display: inline-block;
  width: auto;
}

.mpControl-wrapper {
  display: inline-block;
  width: 200px;
}

.mpControl input {
  width: 100%;
}
.mpControl input[type="checkbox"] {
  width: auto;
}

.mpControl input[type=text], input[type=date], input[type=tel], input[type=number], input[type=email] {
  display: inline-block;
  cursor: auto;
  margin: 0;
  font: 400 12px "Segoe UI";
  padding: 1px 2px;
  background-color: var(--light-color);
  color: var(--dark-color);
	border: 1px solid var(--secondary-color);
  border-image: none;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mpControl:hover .mpSelect-content{
  display:block
}

.mpSelect-content {
  display: none;
  position: absolute;
  cursor:auto;
  background-color: var(--light-color);
  color: var(--dark-color);
	border: 1px solid var(--secondary-color);
  min-width: 160px;
  max-height: 400px;
  overflow-y: auto;
  white-space: nowrap;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 4px;
}
.mpSelect-content option {
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  padding: 2px;
  border: 0;
  width: 100%;
}
.mpSelect-content div {
  -webkit-appearance: checkbox;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
}
/* .mpSelect-content input {
  width: auto;
  margin: 2px;
  position: relative;
  top: 2px;
  cursor: pointer;
  -webkit-appearance: checkbox;
  box-sizing: border-box;
} */


.mpSelect-content label {
  cursor: pointer;
}


.mpDialog {
	position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--light-color);
	border: 1px solid var(--secondary-color);
	min-width: 200px;
	min-height: 100px;
	max-height: 500px;
	z-index: 9998;
}

.mpDialog header {
  display: flex;
  justify-content: space-between;
  align-items: center;
	min-height: 30px;
	padding: 10px;
  cursor: move;
}
.mpDialog header h1 {
  margin: 0;
}

.mpDialog content {
  flex: 1;
  padding: 10px;
  overflow: auto;
}

.mpDialog footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 30px;
  padding: 10px;
}

.mpDialog footer button {
  margin-left: 8px;
  padding: 4px 8px;
  display: inline-block;
  cursor: pointer;
}



.tableWrap {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  overflow: auto;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
thead tr th {
  position: sticky;
  top: 0;
}
th {
  padding: 6px;
  text-align: left;
  /* With border-collapse, we must use box-shadow for the header borders */
  box-shadow: 0px 0px 0 1px;
}
tbody tr {
  border-bottom: 1px solid gray;
}
tbody tr:hover {
  background: #e6f7ff;
}


@media (max-width: 800px) {
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
  .mpControl {
    width: 100%;
  }
  .mpControl-label {
    display: block;
    width: 100%;
  }
  .mpControl-wrapper {
    display: block;
    width: 100%;
  }
}

.mpCal {
  background-color: var(--light-color);
  border: solid 1px var(--secondary-color);
  box-shadow: 0 4px 22px 0 rgba(black, 0.05);
  margin: 0 auto;
  overflow: hidden;
  width: 400px;
}

.mpCal-btn {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: button;
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  min-width: 27px;
  outline: none;
  overflow: visible;
  padding: 0;
  text-align: center;
}

.mpCal-header {
  align-items: center;
  display: flex;
  padding: 0.25rem 1.4rem;
}

.mpCal-header__label {
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.mpCal-week {
  background-color: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
}

  .mpCal-week span {
    flex-direction: column;
    flex: 0 0 14.28%;
    font-weight: bold;
    max-width: 14.28%;
    padding: 0.3rem 1.4rem;
    text-align: center;
    text-transform: uppercase;
  }

.mpCal-body {
  background-color: var(--light-color);
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0;
}

.mpCal-date {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 0 0 14.28%;
  max-width: 14.28%;
  padding: 0.3rem 0;
  cursor: pointer;
  /*border: 2px solid var(--light-color);*/
}

.mpCal-date:hover, .mpCal-date:focus {
  outline: 2px solid var(--secondary-color);
}

.mpCal-disabled {
  border-radius: 0;
  cursor: not-allowed;
  opacity: 0.5;
}
