/* COLORS */
:root {
	--primary-color: #047aed;
	--secondary-color: #78aff8;
	--dark-color: #002240;
	--medium-color: #cccccc;
	--light-color: #f4f4f4;
	--text-color: #000;
	--success-color: #5cb85c;
	--error-color: #d9534f;
	--disabled-color: gray;
	--shadow: 0 2px 5px gray;
}

.theme {
	background-color: var(--primary-color);
	color: var(--light-color);
}

.theme2 {
	background-color: var(--secondary-color);
	color: var(--light-color);
}

.gray {
	background-color: var(--disabled-color);
}
.green {
	background-color: var(--success-color);
}
.red {
	background-color: var(--error-color);
}
